footer {
  align-items: center;
  background-color: var(--colorSubtitles);
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  width: 100%;
}

.autor {
  display: flex;
  gap: 1rem;
}

.autor p {
  font-size: 1.5rem;
}

.autor .hecho-por {
  font-weight: 400;
}

.autor .fabio {
  color: white;
  font-weight: 300;
}

.iconos-footer {
  display: flex;
  gap: 2rem;
}

.iconos-footer a {
  text-decoration: none;
}

.circulo-icono-footer {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.circulo-icono-footer i {
  color: var(--colorSubtitles);
  font-size: 2rem;
}

.iconos-footer a :hover {
  background-color: #095f87;
  transition: 0.5s;
}

/* -------------- Media query para tablet --------------  */

@media (min-width: 767px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 0rem 8rem 0rem 3rem;
  }
}

/* -------------- Media query para desktop --------------*/

@media (min-width: 1024px) {
  .autor p {
    font-size: 2rem;
  }
}
