.header-pt1 {
  align-items: center;
  background-image: url(../img/home\ background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: space-between;
  padding: 4rem 0rem;
  width: 100%;
}

iframe {
  border: 0;
}

.yo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.yo .icono-yo {
  background-image: url(../img/perfil.png);
  background-position: center;
  background-size: 150%;
  border-radius: 100%;
  border: 5px solid #2c2f3f;
  height: 200px;
  width: 200px;
}

.yo .mi-nombre {
  color: var(--colorFuenteHeader);
  font-size: 3rem;
  font-weight: 400;
}

.yo .tipeado-mobile {
  background-color: rgba(44, 47, 63, 0.3);
  border-radius: 5px;
  height: 40px;
  margin-bottom: 3rem;
  width: 288px;
}

.yo .tipeado-mobile .tipeado {
  font-size: 2.4rem;
  text-align: start;
}

.opciones-de-navegacion ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

ul li {
  list-style: none;
}

ul li .opciones {
  align-items: center;
  background-color: rgba(44, 47, 63, 0.8);
  border-radius: 5px;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0 7rem;
  text-decoration: none;
  width: 80vw;
}

.opciones .fa-house {
  margin-right: 8rem;
}

.opciones-de-navegacion .opciones span {
  color: var(--colorFuenteHeader);
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
}

.opciones i {
  color: var(--colorFuenteHeader);
  font-size: 2rem;
  margin-right: 5rem;
}

.opciones:active {
  background-color: rgba(73, 78, 102, 0.8);
}

.header-pt2 {
  background-image: url(../img/home\ background.jpg);
  background-size: cover;
  display: none;
  height: calc(100vh - 7.73vh);
}

.pt2-contenido {
  align-items: center;
  display: flex;
  height: calc(100vh - 7.73vh);
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
}

.header-pt2 .pt2-contenido .imagen-grande {
  background-image: url(../img/perfil.png);
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #d3d3d3;
  height: 32vh;
  width: 32vh;
}

.pt2-contenido .contenedor-nombre-descr {
  background-color: rgba(73, 78, 102, 0.2);
  border-radius: 3px;
  height: 200px;
  width: 700px;
}

.nombre-grande {
  color: white;
  font-size: 7rem;
  font-weight: 400;
  margin-left: 2rem;
}

.tipeado {
  color: white;
  font-family: var(--fuentePortada);
  font-size: 4rem;
  font-weight: 400;
  margin-left: 2rem;
}

.boton-invisible {
  display: none;
}

/* -------------- Media query para tablet --------------  */

@media (min-width: 767px) {
  ul li .opciones,
  .yo .tipeado-mobile {
    width: 400px;
  }

  .yo .tipeado-mobile .tipeado {
    margin-left: 20%;
  }

  .enlace-boton {
    bottom: 20px;
    position: fixed;
    right: 20px;
    text-decoration: none;
  }

  .up {
    align-items: center;
    background-color: var(--colorSubtitles);
    border-radius: 50%;
    height: 40px;
    justify-content: center;
    width: 40px;
  }

  @keyframes aparecer-desaparecer {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .boton-visible {
    animation: aparecer-desaparecer 4s;
    display: flex;
  }

  .up i {
    color: white;
    font-size: 2.5rem;
  }

  .enlace-boton .up:active {
    background-color: #095f87;
  }
}

/* -------------- Media query para desktop--------------  */

@media (min-width: 1024px) {
  .header-pt1 {
    background-color: #040b14;
    background-image: none;
    flex-direction: row;
    height: 7.73vh;
    padding: 0rem 3rem;
  }

  header .yo {
    flex-direction: row;
  }

  .yo .icono-yo {
    border: 2px solid #2c2f3f;
    height: 6.19vh;
    width: 6.19vh;
  }

  .yo .mi-nombre {
    font-size: 2rem;
  }

  .yo .tipeado-mobile {
    display: none;
  }

  header .opciones-de-navegacion ul {
    flex-direction: row;
    gap: 1.5rem;
  }

  ul li .opciones {
    background: none;
    border-radius: 0px;
    height: 7.73vh;
    padding: 0rem 0rem;
    width: 15rem;
  }

  .opciones i,
  .opciones .fa-house {
    margin-right: 1rem;
  }

  .opciones-de-navegacion .opciones span {
    font-size: 1.8rem;
  }

  .opciones:hover {
    background-color: rgba(73, 78, 102, 0.8);
    transition: 0.3s;
  }
  .header-pt2 {
    display: block;
  }
}
