main #sobre-mi {
  margin: 0rem 2.5rem;
}

main #portfolio {
  margin-top: 2rem;
  padding: 0rem 2rem;
}

main #contacto {
  margin: 0rem 2.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  main #sobre-mi {
    max-width: 1620px;
  }
  main #portfolio {
    border-radius: 20px;
    box-sizing: border-box;
    max-width: 1620px;
  }

  main #contacto {
    max-width: 1620px;
    width: 100%;
  }
}
