.informacion-de-contacto {
  background: white;
  border-radius: 0px;
  border-radius: 2rem;
  box-shadow: 6px 6px 12px #8b8b8b, -6px -6px 12px #ffffff;
  display: flex;
  flex-direction: column;
  margin: 3rem 0rem 3rem 0rem;
  padding-bottom: 2rem;
  width: 80vw;
}

.ubicacion,
.email,
.telefono {
  align-items: flex-start;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  padding-left: 2rem;
}

.ubicacion .fondo-icono-contacto,
.email .fondo-icono-contacto,
.telefono .fondo-icono-contacto {
  align-items: center;
  background-color: rgba(20, 157, 221, 0.2);
  border-radius: 50%;
  display: flex;
  height: 44px;
  justify-content: center;
  min-width: 44px;
  width: 44px;
}

.detalles-contacto {
  color: #173b6c;
  font-size: 1.5rem;
  font-weight: 300;
}

.fondo-icono-contacto i {
  color: var(--colorSubtitles);
  font-size: 1.7rem;
}

.info-contacto .subt-contacto {
  color: black;
  font-family: var(--fuentePrimaria);
  font-size: 2rem;
}
.mapa {
  align-self: center;
  height: 300px;
  margin-top: 2rem;
  width: 90%;
}

.form-area {
  background: white;
  border-radius: 0px;
  border-radius: 2rem;
  box-shadow: 6px 6px 12px #8b8b8b, -6px -6px 12px #ffffff;
  margin: 3rem 0rem 3rem 0rem;
  width: 80vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 2rem 3rem 2rem;
}

form .box-name-email {
  margin-top: 1rem;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form div label {
  font-size: 1.7rem;
  font-weight: 300;
}
form button {
  align-self: center;
  background-color: var(--colorSubtitles);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 40px;
  margin-top: 1rem;
  width: 120px;
}

button:active {
  background-color: #095f87;
}

button p {
  color: white;
  font-size: 1.7rem;
  font-weight: 300;
}

.input-style {
  border: 1px solid #d3d3d3;
  height: 4rem;
  padding: 0rem 1rem 0rem 1rem;
}

.input-style-textarea {
  border: 1px solid #d3d3d3;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

input:focus {
  border-color: var(--colorSubtitles);
}

.error-name,
.error-email,
.error-tema,
.error-msj {
  background-color: #f2bfc1;
  border: 0.5px solid red;
  height: 2rem;
  visibility: hidden;
  width: 100%;
}

.error-name p,
.error-email p,
.error-tema p,
.error-msj p {
  color: red;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 1rem;
}

@keyframes rotar {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.cargando {
  animation: rotar 2s;
  width: 25px;
}

/* -------------- Media query para tablet --------------  */

@media (min-width: 767px) {
  #contacto article {
    margin: auto;
    width: 717px;
  }

  .form-area .box-name-email {
    flex-direction: row;
  }

  .box-name-email div {
    width: 50%;
  }

  .error-name,
  .error-email,
  .error-tema,
  .error-msj {
    min-width: 100%;
  }
}

/* -------------- Media query para desktop--------------  */

@media (min-width: 1024px) {
  #contacto h2,
  #contacto .separator {
    margin-left: 2rem;
  }

  #contacto article {
    display: flex;
    gap: 5rem;
    justify-content: center;
    max-width: 1200px;
    width: 80vw;
  }

  .form-area,
  .informacion-de-contacto {
    min-width: 450px;
    width: 35vw;
  }

  button {
    position: relative;
    top: 15px;
  }
}
